/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

/*General Styling*/

    @font-face {

    font-family:roboto;
    src: url(../fonts/sans-serif/roboto-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
 }

    @font-face {

    font-family:ultra;
    src: url(../fonts/serif/ultra-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
 }

   html{

    font-family: roboto, Arial, sans-serif;
    font-size: 16px;
    color: #333;
 }

   body{

    padding: 0;
    margin: 0 auto;
    max-width: 120rem;
    min-width: 64rem;
    font-size: 1.75rem;

   }

   main{

    padding-bottom: .25rem;
    margin: 0 auto;
    width: 90%;
    display: flex;

   }

   img{

    width: 100%;
    display: block;

   }

   a{

    text-decoration: none;

   }

   h2{

    font-size: 1.9rem;
    color: #614DC9;

   }
   h3{

    font-size: 1.9rem;
    color: #614DC9;

   }
   time{

    font-size: 1.3rem;
    margin-top: 4%;
    padding: .125rem;

   }
   p{

    line-height: 1.5;

   }

   /*Header needed*/
   header{

    padding-top: 6rem;
    padding-bottom: 2.5rem;
    text-align: center;


   }
   h1{

    margin: 0 auto;
    color: #614DC9;
    transform: rotate(5deg);


   }
   .highlight{

    display: inline-block;
    font-family: ultra, Georgia, serif;
    border: 1.5px solid #333;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: #614DC9;
    background-color: #FF2727;

   }
   
   /*Nav Menu*/
   nav{
 
    padding: 0 5%;
    margin: 2rem 0 4rem 0;
    border-top: .0625rem solid #333;
    border-bottom: .0625rem solid #333;

   }
   nav a{

    display: inline-block;
    font-size: 1.75rem;
    padding: 2rem 6rem 2rem 0;
    color: #80180D;
    font-weight: bold;

   }
   nav a:focus,
   nav a:hover {

    text-decoration: line-through;
    text-transform: uppercase;
    transform: rotate(-3deg);

   }
   /*Main Section*/
   .main-section{

    width: 70%;

   }
   article{

    grid-column: 1 / 2;
    grid-row: 1;

   }
   .article-image{

    float: left;
    margin: 0 1rem 0 0;
    max-width: 15rem;

   }
   /*Sub Section*/
   .subsection{

    margin-top: 2rem;
    display: grid;
    grid-column-gap: .0625rem;
    grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr));
    background-color: ;
    width: 100%;

   }
   .subsection figure{

    margin: 4%;
    background-color: #4A65FF;

   }
   /*Aside*/
   aside{

    width: 26%;
    margin-left: 2%;
    padding-left: 2%;
    border-left: .0625rem solid #333;


   }
   aside p{

    font-size: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: .0625rem solid #333;

   }
   button{

    font-size: 1.25rem;
    display: inline-block;
    font-family: ultra, Georgia, serif;
    border: 1.5px solid #333;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: #8071ca;
    background-color: #1274B3;
    box-shadow: 5px 5px 4px -1px #888;

   }
   button a{}
   .expand{

    font-size: .25rem;
    display: block;
    padding-top: .5rem;

   }
   /*Footer*/
   footer{

    margin: 6rem auto .5rem auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1%;

   }
   footer a{}
   footer :nth-child(2){

    text-align: right;

   }
